{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}
{% extends "rdnSiteBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}


<main id="recettes">

  <div class="h2">
    <h2>La liste des recettes</h2>
  </div>


{% set tab = [] %}
{% for recette in recettes %}

  {% if recette.name|first|lower in tab %}


    <a class="recette" href="{{ path('recette', {'id': recette.id }) }}">
      <article class="lastArticle" style="background-image:url('{{ recette.img }}')">
        <h3>{{ recette.name }}</h3>
      </article>
    </a>


  {% else %}

  {% set tab = [recette.name|first|lower] %}

    <div class="letter">
      <h3>{{ recette.name|first }}</h3>
    </div>

    <a class="recette" href="{{ path('recette', {'id': recette.id }) }}">
      <article class="lastArticle" style="background-image:url('{{ recette.img }}')">
        <h3>{{ recette.name }}</h3>
      </article>
    </a>

  {% endif %}


{% endfor %}



</main>





{% endblock %}
