{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}
{% extends "rdnSiteBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}
<main class="container-fluid" id="recette">


  <section class="imgIngr">
    <figure class="img" style="background-image:url('../{{ recette.img }}')">
    </figure>

    <div class="ingr">
      <h3>{{ recette.name }}</h3><br>
      <h4>Histoire de ... {{ recette.historyTitle }}</h4>
      <p>{{ recette.history }}</p>
    </div>
  </section>

  <section class="numbers">
    <div class="time">
        <h5>Temps</h5>
        <span>{{ recette.time }}</span>
    </div>

    <div class="note">
      <h5>Note</h5>
      <span>

        {% for i in range(1,recette.note) %}
            <i class="fa fa-star" aria-hidden="true"></i>
        {% endfor %}
      </span>
    </div>

    <div class="personne">
      <h5>Personne</h5>
      <span>6</span>
    </div>

  </section>


  <section class="imgIngr">
    <figure class="img" style="background-image:url('../{{ recette.imgIngr}}')">
    </figure>

    <div class="ingr">
      <h4>Ingrédients</h4>
      <ul>

        <li>{{ recette.ingr }}</li>
        <li>Lotte ou Morue</li>
        <li>Poirreaux</li>
        <li>Carottes</li>
        <li>Navets</li>
        <li>Patates</li>
        <li>Oignons</li>
        <li>Ail</li>
        <li>Thym laurier</li>
        <li>Bière</li>
        <li>Vin</li>
        <li>Crème</li>
        <li>Beurre</li>
      </ul>
    </div>
  </section>

  <section class="steps">

    <div class="step">
      <figure class="imgStep" style="background-image:url('{{ recette.step1img }}')">
      </figure>
      <p>{{ recette.step1 }}</p>
    </div>

    <div class="step">
      <figure class="imgStep" style="background-image:url('{{ recette.step2img }}')">
      </figure>
      <p>{{ recette.step2 }}</p>
    </div>

    <div class="step">
      <figure class="imgStep" style="background-image:url('{{ recette.step3img }}')">
      </figure>
      <p>{{ recette.step3 }}</p>
    </div>

    <hr>

  </section>


</main>




{% endblock %}
